- avatar = namespace_icon(namespace, 100)
- can_create_project = current_user.can?(:create_projects, namespace)

- if forked_project = namespace.find_fork_of(@project)
  .bordered-box.fork-thumbnail.text-center.gl-ml-3.append-right-default.gl-mt-3.gl-mb-3.forked
    = link_to project_path(forked_project) do
      - if /no_((\w*)_)*avatar/.match(avatar)
        = group_icon(namespace, class: "avatar rect-avatar s100 identicon mx-auto")
      - else
        .avatar-container.s100.mx-auto
          = image_tag(avatar, class: "avatar s100")
      %h5.gl-mt-3
        = namespace.human_name
- else
  .bordered-box.fork-thumbnail.text-center.gl-ml-3.append-right-default.gl-mt-3.gl-mb-3{ class: ("disabled" unless can_create_project) }
    = link_to project_forks_path(@project, namespace_key: namespace.id),
        method: "POST",
        class: ("disabled has-tooltip" unless can_create_project),
        title: (_('You have reached your project limit') unless can_create_project) do
      - if /no_((\w*)_)*avatar/.match(avatar)
        = group_icon(namespace, class: "avatar rect-avatar s100 identicon mx-auto")
      - else
        .avatar-container.s100.mx-auto
          = image_tag(avatar, class: "avatar s100")
      %h5.gl-mt-3{ data: { qa_selector: 'fork_namespace_content', qa_name: namespace.human_name } }
        = namespace.human_name
