- page_title _("Fork project")

.row.gl-mt-3
  .col-lg-3
    %h4.gl-mt-0
      = _("Fork project")
    %p
      = _("A fork is a copy of a project.<br />Forking a repository allows you to make changes without affecting the original project.").html_safe
  .col-lg-9
    - if @namespaces.present?
      .fork-thumbnail-container.js-fork-content
        %h5.gl-mt-0.gl-mb-0.gl-ml-3.append-right-default
          = _("Select a namespace to fork the project")
        - @namespaces.each do |namespace|
          = render 'fork_button', namespace: namespace
    - else
      %strong
        = _("No available namespaces to fork the project.")
      %p.gl-mt-3
        = _("You must have permission to create a project in a namespace before forking.")

